.App {
  display: flex;
  /* margin: 10px; */
  background-color: #def4e4;
  flex-wrap: wrap;
}
.App .container{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    margin-inline: 30px;
}
.box {
  margin: 20px;
  background-color: #fff;
  color: #3e6787;
  width: 28rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  border-radius: 10px;
}
.quote{
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:2px;
    margin-bottom: 10px;
    color: #002147;
}
.box h4 {
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: rgb(253, 123, 123);
}
button {
  margin-bottom: 5px;
  padding: 8px;
  background-color: #fdc800;
  color: #012744;
  border: none;
  border-radius: 15px;
  font-weight: bold;
}
button:hover{
    background-color: #012744;
  color: #d0edfc;
}

@media (max-width: 768px){
    .box {
        margin: 15px;
       
        width: 20rem;
        text-align: center;
        border-radius: 10px;
        background-color: #fff;
        color: #3e6787;
        text-align: center;
        
      }
      
}